<section class="bg-gray-300 flex flex-row p-10 relative">
  <div class="basis-3/4">
    <h2 class="font-bold text-4xl mb-5 text-center">The Instructor</h2>
    <p class="text-justify mx-10 font-sans tracking-wider leading-7">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatibus
      dolorum quasi necessitatibus libero est omnis sunt facilis doloremque,
      autem nam eum cumque odio ab numquam explicabo ut aspernatur minima. Sequi
      tenetur consequuntur et sapiente sint veniam. Officiis ea officia
      exercitationem minima, cupiditate modi repellendus sint, deserunt vel
      quibusdam veritatis qui odio dicta ducimus distinctio voluptas architecto
      possimus laboriosam atque? Modi libero laudantium tempore reiciendis
      tempora quasi unde voluptatum, dolor soluta voluptas sapiente beatae animi
      molestiae magni, dolores enim perspiciatis nesciunt architecto illo. Quo
      deleniti laboriosam dignissimos, commodi sed aut!
    </p>
  </div>
  <div class="basis-1/4">
    <img class="h-72 w-full" src="assets/img/Fumzy.jpeg" alt="" />
  </div>
</section>
<section class="">
  <div class="text-center mt-10 font-bold font-sans text-4xl">
    <h2 class="text-gray-400">My Journey</h2>
  </div>
  <div class="w-full h-full flex flex-row p-10 text-justify">
    <div class="border-2 border-gray-400 p-5 mr-5 text-gray-300">
      <h2 class="mb-5 text-center text-xl font-bold">Artech</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
        tempore non voluptate, deserunt ea tenetur esse, saepe voluptas id
        aperiam reprehenderit provident consectetur est quod animi quam? Earum,
        quidem repudiandae?
      </p>
    </div>
    <div class="border-2 border-red-600 p-5 mr-5">
      <h2 class="mb-5 text-center text-xl font-bold bg-gray-300 text-gray-900">
        ZENITH BANK
      </h2>
      <p class="text-gray-300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
        tempore non voluptate, deserunt ea tenetur esse, saepe voluptas id
        aperiam reprehenderit provident consectetur est quod animi quam? Earum,
        quidem repudiandae?
      </p>
    </div>
    <div class="border-2 border-emerald-400 p-5 mr-5 text-gray-300">
      <h2 class="mb-5 text-center font-bold text-xl">FIDELITY BANK</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
        tempore non voluptate, deserunt ea tenetur esse, saepe voluptas id
        aperiam reprehenderit provident consectetur est quod animi quam? Earum,
        quidem repudiandae?
      </p>
    </div>
    <div class="border-2 border-emerald-200 p-5 mr-5">
      <h2 class="mb-5 text-center text-xl font-bold bg-gray-300 text-gray-900">
        St Francis
      </h2>
      <p class="text-gray-300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
        tempore non voluptate, deserunt ea tenetur esse, saepe voluptas id
        aperiam reprehenderit provident consectetur est quod animi quam? Earum,
        quidem repudiandae?
      </p>
    </div>
  </div>
</section>
